header {
  position: relative;
  top: 0;
  background-color: grey;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  padding: 3% 0 3% 0;
  z-index: 99;
  
  .header-logo {
    align-self: center;
    width: 5em;
    margin: 0 auto;
    padding: 2px;
  }
  
  // @media only screen and (min-width: 700px) {
  //   padding: 5px 10%;
  //   flex-direction: row;
  // }
}
