.header {
  background-color: grey;
  position: absolute;
  display: flex;
  justify-content: center;
  padding: 3%;
  width: 100%;

    #logo {
      align-self: center;
      width: 100px;
      margin: 0 auto;
      padding: 2px;
    }
}

@media only screen and (min-width: 700px) {
  .header {
    padding: 2%;
  }
}