@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');


$p-font: 'Open Sans Condensed', sans-serif;
$h-font: 'Open Sans Condensed', sans-serif;

$main-color: #ffffff;
$secondary-color: #fff5e9;
$tertiary-color: #002742;

h1, h2, h3, h4, h5, h6 {
  font-family: $h-font
}

p {
  font-family: $p-font
}