footer {
  position: fixed;
  top: 0;
  background-color: lightgrey;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  padding: 3% 0 3% 0;
  align-items: center;

  .footer-logo {
    align-self: center;
    width: 5em;
    margin: 0 auto;
    padding: 2px;
  }
}